.clickable-card {
  cursor: pointer;
  transition: transform 0.2s ease;
}
.clickable-card:hover {
  transform: scale(1.02);
}



@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
.new-badge{
  background: linear-gradient(
      110deg,
      #000 25%,
      #2c2c2c 37%,
      #000 63%
  );
  background-size: 200% 100%;
  animation: shimmer 1.8s linear infinite;
}

@keyframes shimmer {
  to {
    background-position-x: -200%;
  }
}

::-webkit-scrollbar {
  display: none;
}