/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';

:host ::ng-deep .custom-cart-btn.p-button {
  font-size: 0.75rem;        /* text-xs */
  padding: 0.25rem 0.75rem;  /* px-3 py-1 */
  border-radius: 9999px;     /* rounded-full */
  border: 1px solid #d1d5db; /* border-gray-300 */
}

:host ::ng-deep .custom-cart-btn.p-button:hover {
  background-color: #f3f4f6; /* hover:bg-gray-100 */
}

@media (max-width: 768px) {
  .layout-wrapper,
  .layout-main-container,
  .layout-main {
    margin-top: 5px !important;
    margin-right: 8px;
    padding: 0 !important;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
  }

  body, html {
    padding: 0 !important;
    margin-right: 2px !important;
    width: 100%;
    overflow-x: hidden;
  }
}

@font-face {
  font-family: 'Dune Rise';
  src: url('/assets/fonts/dune-rise/Dune_Rise.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.my-title {
  font-family: 'Dune Rise', serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: linear-gradient(to right, #000, #000);
  -webkit-background-clip: text;
  display: inline-block;
}


.dune-font {
  font-family: 'Dune Rise';
  font-size: small;
}

body {
    
    background-color: #ffffff;
}

.cdk-drag-preview {
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.cdk-drag-placeholder {
  opacity: 0;
}
